.center-block {
  display: block;
  margin: auto;
}

body {
  background: url('background.png') no-repeat 50% 50% fixed;
  background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

header {
  text-align: center;
}


#banner {
  background: #59B7C6;
  box-shadow: 0 6px 4px 0 rgba(151,147,147,0.50);
  height: 12em;
  padding: 8px;
  margin-bottom: 5%;
  width: 100%;
}

form {
  width: 50%;
}

#search-engine {
  float: left;
  padding: 8px;
  width: 60%;
}

#search-engine form {
  width: 100%;
}

#search-engine form input {
opacity: 0.3;
background: #FFFFFF;
font-family: 'Lota', serif;
font-size: 18px;
color: #033C45;
letter-spacing: 0.18px;
margin-bottom: 1em;
width: 100%;
}

#search-engine ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
#search-engine ::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
#search-engine ::-ms-input-placeholder { /* IE 10+ */
  color: black;
}
#search-engine ::-moz-placeholder { /* Firefox 18- */
  color: black;
}

#login-register {
  float: left;
  width: 40%;
}

#login-register form {
  display: inline-block;
  font-family: 'Lota', serif;
  float: right;
  margin-top: 10px;
  text-align: right;
  width: 100%;
}

#login-register input {
  font-family: 'Lota', serif;
  padding: 5px;
  width: 33%;
}

#login-register input[type=text] {
  background-color: #ffffff;
  font-family: 'Lota', serif;
  color: #4A4A4A;
  border: none;
  margin-bottom: .5em;
  margin-right: 3px;
}

#login-register input[type=submit] {
  background: #FF52A5;
  font-family: 'Lota', serif;
  color: #ffffff;
  letter-spacing: 0.25px;
  border: none;
  margin-bottom: 5%;
  width: auto;
}

#list {
  float: left;
  width: 55%;
}

#list article {
  background: #FFFFFF;
  box-shadow: 5px 3px 5px 0 rgba(137,137,137,0.50);
  font-size: 18px;
  font-family: 'Lota', serif;
  color: #4A4A4A;
  clear: both;
  height: auto;
  margin: 3% 5%;
  overflow:hidden;
  padding: 2%;
}

#list article:hover, #list article:active {
  background-color: #FF52A5;
}

#list article h3 {
  font-size: 36px;
  font-family: 'Arvo', serif;
  color: #4A4A4A;
  display: inline;
}

#list article .info {
  float: left;
  width: 65%;
}

#list article address {
  float: right;
  padding-top: 1%;
  width: 30%;
}

#map {
  height: 100%;
  margin: auto;
  padding: 8px;
  text-align: center;
  overflow: hidden;
}